@property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes border-angle-rotate {
    from {
        --border-angle: 0deg;
    }
    to {
        --border-angle: 360deg;
    }
}

.button-gradient-border {
    --border-angle: 0deg;
    animation: border-angle-rotate 10s linear infinite;
    border: 0.1rem solid transparent;
    border-radius: 12px;
    padding: 0.5rem 1.2rem;
    background: linear-gradient(white, white) padding-box,
        conic-gradient(from var(--border-angle), #32e29d, #3ad7c6, #2ec4f3)
            border-box;
    position: relative;
    color: black;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
}

.button-gradient-border:hover {
    transform: scale(1.01);
    color: white;
    background: linear-gradient(#32e29d, #2ec4f3);
    border: 0.1rem solid white;
}

.game-card {
    transition: transform 0.3s ease;
}

.game-card:hover .thumbnail-img {
    transform: scale(1.05);
}

.game-card:hover .game-title {
    text-decoration: underline;
}

.thumbnail-img {
    transition: transform 0.3s ease;
}

body {
    background-color: #f8f9fa;
}